* {
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

/* Estilo global para el scrollbar */

::-webkit-scrollbar {
  width: 10.3px;
}

::-webkit-scrollbar-track {
  background: #f7f7f7;
}

::-webkit-scrollbar-thumb {
  background-color: #a7afba;
  border-radius: 22px;
  border: 3.1px solid #f7f7f7;
}

::-webkit-scrollbar-thumb:hover {
  background: #015e90;
}
