<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cambio de Estado en Solicitud</title>
    <style>
      body { font-family: Arial, Helvetica, sans-serif; line-height: 2.0;
      margin: 0; padding: 0; } .container { max-width: 609px; margin: 0 auto;
      padding: 20px; border: 2px solid #ccc; border-radius: 13px;
      background-color: #f7f7f7; } h1 { text-align: center; color:#015E90;
      font-weight: bold; line-height: 1.3;} p { margin: 10px 0; size: 22px;}
      .highlight { font-weight: bold; color: #015E90;} .button-container {
      text-align: center; } .button { padding: 10px 20px; background-color:
      #004d77; color: #fff; text-decoration: none; border-radius: 7px; }
      .button:hover { background-color: #017DC0; } .logo { display: block;
      margin: 0 auto; height: 77px;}
    </style>
  </head>
  <body>
    <div class='container'>
      <br />
      <img
        src='https://i.ibb.co/3R5LYzk/LOGO-HORIZONTAL-TRANS-130-X-130-PX.png'
        alt='Logo'
        class='logo'
      />
      <br />
      <h1>NOTIFICACIÓN CAMBIO DE ESTADO EN SOLICITUD</h1>
      <p>Cordial saludo,</p>
      <p>Señor(a) <span class='highlight'>{{userName}}</span>,</p>
      <p>Le informamos que el estado de su solicitud tipo:
        <span class='highlight'>{{requirementType}}</span>
        con número de radicado:
        <span class='highlight'>{{medicalReqFilingNumber}}</span>
        ha cambiado a estado:
        <span class='highlight'>{{requestStatusReq}}</span>.</p>
      <p>Lo invitamos a ingresar a nuestro portal web y ver el estado de sus
        solicitudes:
        <br />
        <p class='button-container'>
          <a href='https://clinicabonnadona.com' class='button'>Portal Web
            Proced</a>
        </p>
      </p>
      <p>Att: Departamento de archivos de Clínica Bonnadona Prevenir</p>
      <br />
      <img
        src='https://clinicabonnadona.com/wp-content/uploads/2023/06/nuevo_bonna_logo.png'
        alt='Logo'
        class='logo'
      />
      <br />
    </div>
  </body>
</html>